doctype html
html
    head
        title News Box

    body
        h1 News Box List
        ol
        each item in news
            li
                a(href='https://cnodejs.org'+item.href) #{item.title}
